/*!
Theme Name: grund theme
Author: Martin Hultén-Ashauer
Author URI: http://nimdraug.com
Version: 0.1-dev
*/

body
{
    font-family: sans-serif;
}

*
{
    margin: 5px;
    padding: 5px;
    background: rgba( 0, 0, 0, 0.1 );
}

a
{
    color: rgba( 128, 0, 0, 0.85 );
}

.post
{
    background: rgba( 0, 128, 0, .1 );
}

.page
{
    background: rgba( 0, 0, 128, .1 );
}
