<?php
add_action( 'init', function () {
    register_post_type( 'TYPENAME', [
        'label' => 'TYPENAMEs',
        'public' => true,
        'menu_position' => 10,
        'menu_icon' => 'dashicons-admin-generic', # see https://developer.wordpress.org/resource/dashicons/ or use custom img url
        'supports' => array(
            'title', 'editor', 'thumbnail'
        )
    ] );

    # TODO: Register default listing or listed templates for cpt
} );
